ptbxl/records100/**/*.hea filter=lfs diff=lfs merge=lfs -text
ptbxl/records100/**/*.dat filter=lfs diff=lfs merge=lfs -text
ptbxl/*.csv filter=lfs diff=lfs merge=lfs -text
electrocardiogram-capable-smartwatches-assessing-their-clinical-accuracy-and-application-1.0.0/**/*.hea filter=lfs diff=lfs merge=lfs -text
electrocardiogram-capable-smartwatches-assessing-their-clinical-accuracy-and-application-1.0.0/**/*.dat filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
artifacts/*.npz filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
ptbxl/ptbxl_test_zips/*.zip filter=lfs diff=lfs merge=lfs -text
